.navbar{
    height: 75px;
    width: 1349px;
    background-image: linear-gradient(200deg,white,white);
    text-align: end;
    position: sticky;
    top: 0;
    box-shadow: 5px 0px 5px 0px whitesmoke;
    margin-bottom: 50px;
}
ul{
    margin: 30px;
    display: inline-flex;  
}
li{
    list-style: none;
}
a{
    margin: 40px;
    text-decoration: none;
    font-size: large;
    color: black;
    /* margin-top: 70px; */
}
h1{
    position: relative;
    right: 480px;
    bottom: 35px;
    font-family: 'Fasthand', cursive;
}
@media (max-width=300px) {
    a{
        height: 35px;
        width: 674.5;
        margin: 10px;
    }

    
}